<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-lg-1 d-md-block sidebar">
          <div class="sidebar-sticky pt-4">
            <div class="text-center pb-4">
              <img src="../img/rectangle1.png" alt="" />
            </div>
            <nav>
              <a class="nav-link text-center" href="#">
                <img src="../img/fi_home.png" alt="Dashboard" />
                <p>Dashboard</p>
              </a>
              <a class="nav-link text-center" href="#">
                <img src="../img/fi_truck.png" alt="Cars" />
                <p>Cars</p>
              </a>
            </nav>
          </div>
        </nav>

        <main role="main" class="ml-sm-auto col-lg-11 px-md-0 bg-light">
          <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-body">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../img/rectangle2.png" alt="" />
              </a>
              <button class="btn btn-brand" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../img/fi_menu.png" alt="" />
              </button>
              <div class="navbar-collapse justify-content-end">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                  <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <img class="img-user" src="../img/fi_user.png" alt="" />
                <a class="nav-link user" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Noufal Rifqi
                  <img src="../img/fi_down.png" alt="" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="row">
            <nav id="sidebarMenuMain" class="col-lg-2">
              <div class="sidebarMain pt-5">
                <a class="nav-link ps-4" href="#">
                  <p>CARS</p>
                </a>
                <a class="nav-link ps-4" href="#">
                  <p>List Car</p>
                </a>
              </div>
            </nav>

            <div class="mainContent col-lg-10">
              <div class="content pt-5"><%- body %></div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
