#sidebarMenu {
  background-color: #0d28a6;
}

#sidebarMenu p {
  font-size: 12px;
  padding-inline-start: 0px !important;
}

#sidebarMenu a {
  color: white;
  text-decoration: none;
}

#sidebarMenu a:hover {
  background-color: #cfd4ed;
  opacity: 70%;
}

.navbar {
  background-color: #ffffff;
}

.navbar-collapse a {
  text-decoration: none;
  color: black;
}

.navbar-collapse a:hover {
  color: black;
}

.btn-brand {
  margin-left: 5%;
}

.img-user {
  margin-left: 4%;
}

.sidebarMain {
  background-color: #ffffff;
  height: 100%;
}

.sidebarMain a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.sidebarMain a:hover {
  color: black;
  background-color: #cfd4ed;
  opacity: 70%;
}

.vector {
  margin-left: 1%;
  margin-right: 1%;
}

.btn-primary {
  margin-right: 7%;
}

.title {
  font-weight: 700;
}

.card-text1 {
  font-weight: 400;
  font-size: 14px;
}

.card-text2 {
  font-weight: 700;
  font-size: 16px;
}

.card-text3 {
  font-weight: 300;
  font-size: 14px;
}

.img-clock {
  margin-right: 2%;
}

.form {
  background-color: #ffffff;
  padding: 2%;
}

.bintang {
  color: red;
}

.btn-form {
  margin-top: 30%;
}

.btn-primary {
  background-color: #0d28a6 !important;
}

.btn-primary:hover {
  background-color: #aeb7e1 !important;
  border-color: #aeb7e1 !important;
}

.btn-list .btn-secondary {
  background-color: white !important;
  border-color: #aeb7e1 !important;
  color: #aeb7e1 !important;
}

.btn-list .btn-secondary:hover {
  background-color: #cfd4ed !important;
  border-color: #0d28a6 !important;
  color: #0d28a6 !important;
}

.btn-secondary {
  background-color: white !important;
  border-color: #0d28a6 !important;
  color: #0d28a6 !important;
}

.btn-secondary:hover {
  background-color: #cfd4ed !important;
  border-color: #0d28a6 !important;
  color: #0d28a6 !important;
}

.card-body .btn {
  padding: 3% !important;
  width: 45%;
  border-radius: 0;
  font-weight: 700;
  font-size: 14px;
}

.card-body .btn img {
  margin-right: 5%;
}

.btn-outline-danger {
  margin-right: 6%;
  color: red !important;
}

.btn-outline-danger:hover {
  color: white !important;
}

.btn-success {
  background-color: #5cb85f !important;
  border-color: #5cb85f !important;
}

.btn-success:hover {
  background-color: #018d06 !important;
  border-color: #018d06 !important;
}

.card-body a {
  text-decoration: none;
  color: white;
}

.card-body a:hover {
  color: white;
}

.card-body .modal .btn .btn-primary {
  background-color: #0d28a6 !important;
  color: white !important;
}

.card-body .modal .btn .btn-outline-primary {
  border-color: #0d28a6 !important;
  color: #0d28a6 !important;
}

.modal-body h5 {
  font-weight: 700;
}

.modal-body .btn {
  width: 20%;
}

.btn-form .btn-secondary,
.btn-form .btn-primary {
  font-weight: 700;
  font-size: 14px;
}
