<p>
  <b>Cars</b>
  <span class="vector"><img src="img/vector.png" alt="" /></span>
  List Car
</p>
<div class="row mt-4">
  <div class="col m-0">
    <h3 class="title">List Car</h3>
  </div>
  <div class="col d-flex justify-content-end">
    <a href="/add" type="button" class="btn btn-primary">+ Add New Car</a>
  </div>
</div>
<div class="mt-4 btn-list">
  <button type="button" class="btn btn-secondary">All</button>
  <button type="button" class="btn btn-secondary">Small</button>
  <button type="button" class="btn btn-secondary">Medium</button>
  <button type="button" class="btn btn-secondary">Large</button>
</div>
<div class="row">
  <% mobil.forEach(car => { %>
  <div class="col-12 col-lg-4 col-md-12 mt-4">
    <div class="card" style="width: 18rem">
      <img src="img/<%= car.photo %>" class="card-img-top" alt="Car" width="300px" height="300px"/>
      <div class="card-body pt-3">
        <p class="card-text1"><%= car.name %></p>
        <p class="card-text2"><%= car.price %></p>
        <p class="card-text3">
          <img class="img-clock" src="img/fi_clock.png" alt="" />Updated at <%= car.createdAt %></p>
          <center>
            <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="img/fi_trash.png" alt="" />Delete</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="alert-bluecar">
                      <img src="img/blue_car.png" />
                      <h5 class="mt-3">Menghapus Data Mobil</h5>
                      <div class="paragraf-modal">
                        <p>Setelah dihapus, data mobil tidak dapat <br />dikembalikan. Yakin ingin menghapus?</p>
                      </div>
                      <center>
                        <a type="button" class="btn btn-primary" href="/delete/<%= car.id %> ">Ya</a>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Tidak</button>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success" type="submit">
              <a href="/cars/<%= car.id %> "><img src="img/fi_edit.png" alt="" />Update</a>
            </button>
          </center>
        </p>
      </div>
    </div>
  </div>
  <% }) %>
</div>
