<p>
  <b>Cars</b>
  <span class="vector"><img src="../img/vector.png" alt="" /></span>
  <b>List Car</b>
  <span class="vector"><img src="../img/vector.png" alt="" /></span>
  Update Car Information
</p>
<h3 class="title mt-4">Update Car Information</h3>

<form action="/api/cars/<%= car.id %>" method="post" enctype="multipart/form-data">
  <div class="form me-4 mt-4">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">Nama<span class="bintang">&#42;</span></label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputName" placeholder="Avanza" name="name" value="<%= car.name ? car.name : '' %>" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputPrice" class="col-sm-2 col-form-label">Sewa Per Hari<span class="bintang">&#42;</span></label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputPrice" placeholder="Rp 0,-" name="price" value="<%= car.price ? car.price : '' %>" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputSize" class="col-sm-2 col-form-label">Ukuran<span>&#42;</span></label>
      <div class="col-sm-6">
        <select class="form-select" id="inputSize" name="type" value="<%= car.type ? car.type : '' %>">
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputPic" class="col-sm-2 col-form-label">Foto<span class="bintang">&#42;</span></label>
      <div class="col-sm-6">
        <input type="file" class="form-control" name="file" value="" class="file" placeholder="https://placeimg.com/640/480/any" name="photo" value="<%= car.photo ? car.photo : '' %>" />
        <small style="color: #8a8a8a">File size max. 2MB</small>
      </div>
    </div>
  </div>

  <div class="btn-form">
    <button type="submit" class="btn btn-secondary me-2">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
